.product-carousel {
    position: relative;

    .carousel__dot {
        background: none;
        border-radius: 0;

        height: 48px;
        width: 48px;
        margin: 0 8px;

        @media screen and (min-width: 48em) {
            height: 64px;
            width: 64px;
        }

        @media screen and (min-width: 64em) {
            height: 82px;
            width: 82px;
        }
    }

    .carousel-slide {
        .slide {
            overflow: hidden;
        }
    }

    button.carousel-button {
        background: none;
        border: none;

        position: absolute;
        opacity: 0.7;
        top: calc(50% - 15px);
        transform: translateY(-50%);

        @media screen and (min-width: 48em) {
            top: calc(50% - 30px);
        }

        @media screen and (min-width: 48em) {
            top: calc(50% - 40px);
        }

        & > svg {
            height: 24px;
            width: 24px;
        }

        &.carousel-next {
            right: 2%;
        }

        &.carousel-back {
            left: 2%;
        }

        &:focus {
            outline: none;
        }
    }

    // theme breakpoint[0]
    @media screen and (min-width: 40em) {
        button.carousel-button > svg {
            height: 36px;
            width: 36px;
        }
    }
}

.product-page-img {
    transition: 0.2s;

    // &:hover {
    //     transform: scale(1.6);
    // }
}
