.custom-select {
    font-family: Poppins, sans-serif;
    font-size: 10px;
    width: 100%;

    .custom-select__value-container {
        width: 100%;
    }

    .custom-select__indicator-separator {
        display: none;
    }

    svg {
        height: 11px;
        width: 11px;
    }
}
