header {
    transition: 0.1s;
    margin: 0 !important;

    position: absolute;
    top: 0;
    z-index: 999;

    a {
        text-decoration: none;
    }
}

.links-enter {
    opacity: 0;
}
.links-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}
.links-exit {
    opacity: 1;
}
.links-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}

.dropdown-enter {
    transform: translateX(-50%);
    opacity: 0;
}
.dropdown-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: transform 200ms, opacity 100ms;
}
.dropdown-exit {
    transform: translateX(0);
    opacity: 1;
}
.dropdown-exit-active {
    transform: translateX(-50%);
    opacity: 0;
    transition: transform 200ms, opacity 100ms;
}

.cart-items-enter {
    transform: translateX(50%);
    opacity: 0;
}
.cart-items-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: transform 200ms, opacity 100ms;
}
.cart-items-exit {
    transform: translateX(0);
    opacity: 1;
}
.cart-items-exit-active {
    transform: translateX(50%);
    opacity: 0;
    transition: transform 200ms, opacity 100ms;
}

@media (min-width: 48em) {
    a {
        height: 100%;
    }

    .dropdown-enter {
        opacity: 0;
        transform: translate(-5%);
    }
    .dropdown-enter-active {
        opacity: 1;
        transition: opacity 200ms;
        transform: translate(-5%);
    }
    .dropdown-exit {
        opacity: 1;
        transform: translate(-5%);
    }
    .dropdown-exit-active {
        opacity: 0;
        transition: opacity 200ms;
        transform: translate(-5%);
    }
}
